body {
  background-image: url('../assets/background.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.App {
  text-align: center;
  padding: 5%;
}

.right-button {
  cursor: pointer;
  float: right;
}

.list-item {
  display: inline-block;
}

.stat-key {
  width: 190px;
  display: inline-block;
}

.stat-nr {
  display: inline-block;
}
